Repository knights-dev/knights, pull requests merged in 2020-01, with the labels that each got.

#14 ビルド方法の変更に伴って README.md を修正
  README.md
Labels: S-waiting-for-review

#13 GitHub Actions で Linter を走らせるようにした
  .github/workflows/lint.yml
  scripts/ensure-newline-at-eof.sh
  workspaces/editor/.eslintignore
  workspaces/editor/.eslintrc.js
  workspaces/editor/package.json
  workspaces/editor/src/components/AppRoot.tsx
  workspaces/editor/src/components/Editor.tsx
  workspaces/editor/webpack.config.js
Labels: A-node-editor, S-waiting-for-review

#12 いくつかのコンポーネントを仮実装
  workspaces/editor/.eslintrc.js
  workspaces/editor/.prettierrc.js
  workspaces/editor/src/bootstrap.tsx
  workspaces/editor/src/components/Editor.tsx
  workspaces/editor/src/components/nodes/ArrowHead.tsx
  workspaces/editor/src/components/nodes/ArrowLIne.tsx
  workspaces/editor/src/components/nodes/ArrowLine.tsx
  workspaces/editor/src/components/nodes/IONode.tsx
  workspaces/editor/src/components/nodes/PatternNode.tsx
  workspaces/editor/src/components/nodes/ValueNode.tsx
  workspaces/editor/src/scss/editor.scss
Labels: A-node-editor, S-waiting-for-review

#16 間違った命名のソースファイルが残っていたので削除した
  workspaces/editor/src/components/nodes/ArrowLIne.tsx
Labels: A-node-editor, S-waiting-for-review

#17 React.memo を用いてノードの再レンダリングを最小限に抑えた
  workspaces/editor/src/components/Editor.tsx
  workspaces/editor/src/components/nodes/ArrowHead.tsx
  workspaces/editor/src/components/nodes/ArrowLine.tsx
  workspaces/editor/src/components/nodes/IONode.tsx
  workspaces/editor/src/components/nodes/PatternNode.tsx
  workspaces/editor/src/components/nodes/ValueNode.tsx
  workspaces/editor/src/components/nodes/index.ts
Labels: A-node-editor, S-waiting-for-review, T-enhancement

#19 プルリクでのみ Lint ワークフローが動くように修正
  .github/workflows/lint.yml
Labels: S-waiting-for-review

#20 `Remove status label` ワークフローを追加
  .github/workflows/remove-status-label.yml
Labels: S-waiting-for-review

#28 prettierとeslintでswitch-caseを書く時のインデントが矛盾してるのを修正。
  workspaces/editor/.eslintrc.js
Labels: S-waiting-for-review
